@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

html, body {
  padding: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #112135;
}

#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a,
button {
  cursor: pointer;
}

input, textarea {
  outline: none;
}

textarea {
  transition-property: none;
}

path {
  outline: none;
}